<ul>
  <% @videos.each do |video| %>
  <li><%= video.title %> by <%= (video.author).name %>. <%= link_to 'View Here!', video.url %> <%= link_to 'See Details!', '/videos/'+video.id.to_s%> <%= link_to("Delete", '/videos/'+video.id.to_s, method: :delete) %></li>
  <% end %>
</ul>


<%= render "videos/feed", :videos => @videos %>