<div class="left large-4 columns">
  <h1>Videos!</h1>
  <ul>
    <% @videos.each do |video| %>
    <li><%= video.title %> by <%= (video.author).name %>. <iframe width="560" height="315" src="http://www.youtube.com/embed/<%=video.url%>" frameborder="0" allowfullscreen></iframe><br><%= link_to 'See Details!', '/videos/'+video.id.to_s%> <%= link_to("Delete", '/videos/'+video.id.to_s, method: :delete) %><br><br></li>
    <% end %>
  </ul>


  <blockquote class="twitter-tweet" lang="en"><p>Root route. Try saying that five times fast <a href="https://twitter.com/hashtag/rails?src=hash">#rails</a></p>&mdash; Parag Dadhaniya (@paragdaDON) <a href="https://twitter.com/paragdaDON/status/520236507315974144">October 9, 2014</a></blockquote>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>
  <%= render "videos/feed", :videos => @videos %>