<div class="left large-4 columns">
  <p>
    <%= @video.title %> by <%= @video.author.name %>. <br> <%= link_to("Delete", '/videos/'+@video.id.to_s, method: :delete) %><br>
    <iframe width="560" height="315" src="http://www.youtube.com/embed/<%=@video.url%>" frameborder="0" allowfullscreen></iframe>
    View Count: <%= @comma %>
    <div class="addComment">
    Add Comment!
    <%= form_for [@video, @comment] do |f| %>
      Comment: <%= f.text_field :body %><br>

      <%= f.submit %>
    <% end %>
    <br>
    </div>






    <div class="savetoPlaylist">
      Save to Playlist!
      <%= form_tag ('/videos/'+@video.id.to_s+'/playlist'), method: "post" do %>
        <%= collection_select(:playlist, :id, Playlist.all, :id, :title)%>
        <%= submit_tag("Submit") %>
      <% end %>
    </div>
  </p>

  <p><%= link_to 'See All Videos!', '/' %></p>
  <p><%= link_to 'See All Playlists!', '/playlists' %></p>
</div>


